PATH_add .venv/bin

# Load environment variables from dev env file and export all of them
if [ -f .env ]; then
    export $(grep -v '^#' .env | xargs)
fi


if [ -f .venv/bin/activate ]; then
    source .venv/bin/activate
fi

export GIT_ROOT=$(git rev-parse --show-toplevel 2> /dev/null)


# UV
export UV_NO_MANAGED_PYTHON=1
export UV_PYTHON_DOWNLOADS=never

# CUDA
export CUDA_VERSION="12.8" # default to 12.8
export CUDA_HOME=/usr/local/cuda-${CUDA_VERSION}
export CUDNN_LIB_DIR=/usr/local/cuda-${CUDA_VERSION}/lib64
export CUDNN_INCLUDE_DIR=/usr/local/cuda-${CUDA_VERSION}/include
export LD_LIBRARY_PATH=${CUDNN_LIB_DIR}:$LD_LIBRARY_PATH

REPO_NAME=$(basename $(git rev-parse --show-toplevel))
echo "🚀 Enter ${REPO_NAME} 🚀"
